<% layout('/layouts/boilerplate.ejs') %>

    <div id="filters" class="d-flex flex-nowrap overflow-auto justify-content-md-center gap-3 gap-md-4 py-3 px-3">

        <div class="filter text-center flex-shrink-0">
            <i class="fa-solid fa-fire fs-5"></i>
            <p class="small mb-0 mt-1">Trending</p>
        </div>

        <div class="filter text-center flex-shrink-0">
            <i class="fa-solid fa-bed fs-5"></i>
            <p class="small mb-0 mt-1">Rooms</p>
        </div>

        <div class="filter text-center flex-shrink-0">
            <i class="fa-solid fa-city fs-5"></i>
            <p class="small mb-0 mt-1">Cities</p>
        </div>

        <div class="filter text-center flex-shrink-0">
            <i class="fa-solid fa-water fs-5"></i>
            <p class="small mb-0 mt-1">Pools</p>
        </div>

        <div class="filter text-center flex-shrink-0">
            <i class="fa-solid fa-mountain fs-5"></i>
            <p class="small mb-0 mt-1">Mountain</p>
        </div>

        <div class="filter text-center flex-shrink-0">
            <i class="fa-solid fa-campground fs-5"></i>
            <p class="small mb-0 mt-1">Camping</p>
        </div>

        <div class="filter text-center flex-shrink-0">
            <i class="fa-solid fa-umbrella-beach fs-5"></i>
            <p class="small mb-0 mt-1">Beach</p>
        </div>

        <div class="tax-toggle d-flex align-items-center flex-shrink-0 border rounded-pill px-3 py-2 ms-auto">
            <label class="form-check-label me-2 small mb-0" for="switchCheckDefault">
                Display total after taxes
            </label>
            <div class="form-check form-switch m-0">
                <input class="form-check-input m-0" type="checkbox" role="switch" id="switchCheckDefault">
            </div>
        </div>

    </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1  row-cols-1 mt-3">
        <% for(let listings of allListings){%>
            <a href="/listings/<%=listings._id%>" class="listing-link">
                <div class="card col listing-card">
                    <img src="<%= listings.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <%= listings.title %>
                            </b><br>
                            &#x20B9; <%= listings.price.toLocaleString("en-IN")%> / night
                            <i class="tax-info" > &nbsp; + 18% GST</i>
                        </p>
                    </div>
                </div>
            </a>
            <%} %>
    </div>

    <script>
        let taxSwitch = document.getElementById("switchCheckDefault");
        taxSwitch.addEventListener("click", () => {
            let taxInfo=document.getElementsByClassName("tax-info");
            for(tInfo of taxInfo){
                if(tInfo.style.display !="inline"){
                    tInfo.style.display="inline";
                }else{
                     tInfo.style.display="none";
                }
            }
        });
    </script>