<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>

<body>
    <h1>Add New Listing</h1>
    <form method="post" action="/listings">
        <label for="title">Title</label> <br>
        <input type="text" placeholder="Enter Title" id="title" name="listing[title] "> <br>
        <label for="description">Description</label> <br>
        <textarea name="listing[description]" id="description" rows="2" cols="20"></textarea><br>
        <label for="image">Enter Image URL</label><br>
        <input type="text" placeholder="Enter Image URL" id="image" name="listing[image]"><br>
        <label for="price">Price</label><br>
        <input type="number" placeholder="Enter Price" name="listing[price]" id="price"><br>
        <label for="country">Country</label><br>
        <input type="text" placeholder="Enter Country" name="listing[country]" id="country"><br>
        <label for="location">Enter Location</label><br>
        <input type="text" placeholder="Enter Location" id="location" name="listing[location]"><br>
        <button type="submit">Add Listing</button>
    </form>
</body>

</html>